In [1]:
import pandas as pd

In [2]:
dataFrame=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=["A","B","C"])

In [3]:
dataFrame.head()

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [6]:
dataFrame.to_csv('export.csv',index=False)