In [11]:
import pandas as pd

In [19]:
dataFrame1=pd.DataFrame([[2,4,6],[3,6,9],[4,8,12]],columns=["A1","B1","C1"])

In [20]:
dataFrame1

   A1  B1  C1
0   2   4   6
1   3   6   9
2   4   8  12

In [14]:
dataFrame2=pd.DataFrame([[2,4,6],[3,6,9],[4,8,12]],columns=["A2","B2","C2"])

In [17]:
dataFrame2

   A2  B2  C2
0   2   4   6
1   3   6   9
2   4   8  12

In [21]:
dataFrame3=pd.merge(dataFrame1,dataFrame2,right_on='B2',left_on='B1')

In [22]:
dataFrame3

   A1  B1  C1  A2  B2  C2
0   2   4   6   2   4   6
1   3   6   9   3   6   9
2   4   8  12   4   8  12