In [1]:
import pandas as pd
import numpy as np

In [2]:
dataFrame=pd.DataFrame()

In [3]:
print(dataFrame)

Empty DataFrame
Columns: []
Index: []

In [4]:
dataFrame1=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])

In [6]:
dataFrame1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [9]:
dataFrame1.head(3)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [12]:
dataFrame1.tail(4)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9