In [1]:
import pandas as pd
import numpy as np

In [2]:
dataFrame1=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])

In [4]:
dataFrame1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [5]:
dataFrame1.shape

(3, 3)

In [7]:
dataFrame1.iloc[0,1]               #0  1     result 2

2

In [8]:
dataFrame1.iloc[2,2]

9

In [9]:
dataFrame1.iloc[0:2,2]

0    3
1    6
Name: 2, dtype: int64

In [10]:
dataFrame1.iloc[1,1]

5

In [12]:
dataFrame2=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=["A1","B1","C1"])

In [18]:
dataFrame2

   A1  B1  C1
0   1   2   3
1   4   5   6
2   7   8   9

In [17]:
dataFrame2.iloc[1,2]

6

In [25]:
dataFrame3=pd.DataFrame([[1,2,3,3],[4,5,6,1],[7,8,9,1],[2,3,4,1],[1,2,3,4]],columns=["A1","B1","C1","D1"])

In [26]:
dataFrame3

   A1  B1  C1  D1
0   1   2   3   3
1   4   5   6   1
2   7   8   9   1
3   2   3   4   1
4   1   2   3   4

In [31]:
dataFrame3.iloc[4,0] #result is 1

1